{
  "branches": [
    "master",
    {
      "name": "beta",
      "prerelease": true
    },
    {
      "name": "rc",
      "prerelease": true
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md",
        "branches": [
          "master"
        ]
      }
    ],
    [
      "@semantic-release/npm",
      {
        "npmPublish": false
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md",
          "package.json",
          "package-lock.json"
        ],
        "message": "chore(release): v${nextRelease.version}\n\n${nextRelease.notes}",
        "branches": [
          "master"
        ]
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "package.json",
          "package-lock.json"
        ],
        "message": "chore(release): v${nextRelease.version}\n\n${nextRelease.notes}",
        "branches": [
          "beta",
          "rc"
        ]
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "npm run zip && npm run zip:firefox"
      }
    ],
    [
      "@semantic-release/github",
      {
        "releaseNameTemplate": "NZBDonkey v${nextRelease.version}",
        "assets": [
          {
            "path": "dist/nzbdonkey-*.zip"
          }
        ]
      }
    ]
  ]
}
